.submit {
    -fx-background-color: #87ff8d;
    -fx-background-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: #63ff6b;
    -fx-border-radius: 30;

}

.submit:hover {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: #63ff6b;
    -fx-border-radius: 30;

}


.submit:pressed {
    -fx-background-color: #bdfcc8;
    -fx-background-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: #63ff6b;
    -fx-border-radius: 30;

}

.clear {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: #479dff;
    -fx-border-radius: 30;

}

.clear:hover {
    -fx-background-color: #c3dfeb;
    -fx-background-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: #479dff;
    -fx-border-radius: 30;

}


.clear:pressed {
    -fx-background-color: #bdfcc8;
    -fx-background-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: #479dff;
    -fx-border-radius: 30;

}

.cancel {
    -fx-background-color: #f78983;
    -fx-background-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: #ff6e66;
    -fx-border-radius: 30;

}

.cancel:hover {
    -fx-background-color: #ffe2e0;
    -fx-background-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: #ff6e66;
    -fx-border-radius: 30;

}


.cancel:pressed {
    -fx-background-color: #ff6b61;
    -fx-background-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: #ff6e66;
    -fx-border-radius: 30;

}

.login {
    -fx-background-color: #4dff47;

}

.login:hover {
    -fx-background-color: #b8ffb5;

}


.login:pressed {
    -fx-background-color: #68eb63;

}

.cancel1 {
    -fx-background-color: #ff6347;

}

.cancel1:hover {
    -fx-background-color: #ffc7bd;

}


.cancel1:pressed {
    -fx-background-color: #ff6145;

}